### SolidityTruffle ###
# depedencies
node_modules

# testing
# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history

#truffle
.tern-port
yarn.lock
package-lock.json

# End of https://www.toptal.com/developers/gitignore/api/soliditytruffle

